@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&family=IBM+Plex+Sans+Thai+Looped:wght@300;400&family=Work+Sans:wght@500&display=swap');
* {
    font-family: 'Asap', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* ul {
    padding-left: 0;
    margin: 0;
}

.heady {
    display: flex;
    width: 25%;
    height: 90px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline
}

html,
body {
    font-size: 16px;
    margin: 0;
    background-color: rgba(250, 250, 249, 0.973);
    height: 100%;
}


/*---header---*/

header {
    display: flex;
    background-color: rgb(70, 122, 235);
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    /* z-index: 1; */
}

header nav {
    width: 25%;
}

header a {
    text-decoration: none !important;
}

#formSearch {
    display: flex;
}

#ok {
    width: 40px;
    margin-top: 28px;
    height: 35px;
}

header a:hover {
    border-bottom: none;
}

h1 {
    font-weight: 500;
    font-size: 2rem;
    padding-left: 15px;
    text-transform: uppercase;
    text-decoration: none !important;
}

.search {
    width: 100%;
    height: 35px;
    padding-left: 20px;
    border-radius: 10px;
    font-size: 1rem;
    margin: 25px 0px 20px 30px;
    border: none;
}

nav {
    width: 25%;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: inherit;
    font-weight: 500;
    text-transform: uppercase;
    align-self: flex-end;
    justify-content: space-around;
}

nav ul li p {
    text-transform: lowercase;
    font-size: 0.6rem;
    text-align: center;
    color: red;
}

nav li {
    margin: 0 10px 0 10px;
}


/*---fin header---*/


/*---mainContainer---*/

#mainContainer {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    padding-bottom: 50px;
    justify-content: space-between;
}

h2 {
    padding: 0 10px 0 10px;
}

#mainContainer aside {
    margin: 10px 10px 0 0px;
    padding: 10px;
    border: rgb(94, 94, 94) solid 2px;
    border-radius: 10px;
    height: 70vh;
    min-width: 150px;
    text-align: center;
    position: sticky;
}

#mainContainer aside:nth-child(1) {
    left: 0;
    top: 100px;
    margin-left: 10px;
    margin-right: 20px;
    width: 15%;
}

#mainContainer aside:nth-child(1) div {
    right: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}

#mainContainer aside:last-child {
    right: 0;
    top: 100px;
    margin-left: 10px;
    width: 30%;
}

#mainContainer aside form {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    width: 100%;
}

#mainContainer aside form a {
    align-self: center;
}

#mainContainer aside form input {
    width: 80%;
    cursor: pointer;
}

#mainContainer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

#mainContainer section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 10px 0 10px;
}

#asideL {
    position: sticky;
    margin-left: 20px;
}

#asideR {
    position: sticky;
}

#mainContainer section article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border: rgb(94, 94, 94) solid 2px;
    border-radius: 10px;
    word-wrap: wrap;
}

#mainContainer aside ul {
    list-style: none;
    /* padding-inline-start: 0;
    text-align: center; */
}

#mainContainer aside ul li {
    display: flex;
}

#mainContainer * {
    padding: 0;
}

#asideR h2 ul {
    align-items: center;
}

#mainContainer a {
    align-self: flex-start;
}

jour {
    display: flex;
}


/*---fin mainContainer---*/


/*---page création d'un sujet---*/

.divCreerArticle,
.divCreerArticle form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.divCreerArticle div {
    display: flex;
    align-items: center;
}

.divCreerArticle form textarea {
    width: 60%;
}

.divCreerArticle form input[type="submit"] {
    margin: 15px;
    width: 33%;
}


/*---fin page création d'un sujet---*/


/*---Affichage d'un sujet---*/

.divSujet {
    background-color: rgb(228, 226, 226);
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 10px;
    padding: 0 15px 0 15px;
    word-break: break-all;
    overflow: hidden;
}

.divSujet h2 {
    padding-left: 0px;
    margin-bottom: 5px;
}

.divSujet sujet info {
    display: flex;
}

.divSujet sujet info p {
    padding-left: 4px;
    padding-right: 10px;
    margin-top: 0;
}


/*---fin affichage d'un sujet---*/


/*---footer---*/

footer {
    display: flex;
    background-color: rgb(70, 122, 235);
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    /* à tester */
}


/*--- fin footer---*/


/*---modale création compte---*/


/*affichage d'un curseur main lors du passage sur le bouton création de compte*/

.liens:hover {
    cursor: pointer;
    text-decoration: underline
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(42, 44, 50, .75);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    margin: 0;
    display: none;
}

#allerConn {
    cursor: pointer;
    border-bottom: none;
}


/*bouton de fermeture*/

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 20px;
    cursor: pointer;
}

.close:hover {
    color: #555;
}


/*---header---*/

.headerM {
    border-bottom: 1px solid #e5e5e5;
    padding-left: 15px;
}

.modal h3 {
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 3px;
    font-size: 1.4em;
}


/*---main---*/

ul {
    list-style: none;
}

.modal div:first-child {
    width: 600px;
    max-height: 100vh;
    border-radius: 6px;
    background-color: white;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;
}

label {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

input {
    /* padding: 0; */
    margin: 10px;
    width: 50%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
}

input:hover {
    background-color: #bbb;
    cursor: pointer;
}


/* .close {
    cursor: pointer;
    font-size: 1.5rem;
} */

.modal form input,
label {
    display: block;
    margin: 10px auto;
}

.modal ul {
    list-style: none;
    padding-inline-start: 0;
}

.modal #check {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}

.modal #check label {
    padding-top: 9px;
    margin: 0;
    margin: 0;
    /* justify-items: flex-start; */
}

.modal #check input {
    box-shadow: none;
    width: 15px;
    margin: 15px;
}

.modal li:last-child {
    padding-top: 10px;
}

.modal li:last-child input {
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
    font-size: 0.9em;
    border: none;
    cursor: pointer;
}


/*---Footer---*/

.footerM {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerM p {
    font-size: 1.75ch;
    margin-top: 2px;
}


/*---fin de modale création compte---*/


/*----------------------------ANIMATION-----------------------------*/

@keyframes slideTop {
    from {
        opacity: 0;
        margin-bottom: 30%;
    }
    to {
        opacity: 1;
        margin-bottom: 0%;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        margin-bottom: 0%;
    }
    to {
        opacity: 0;
        margin-bottom: 30%;
    }
}


/*-------------------------Responsiveness-------------------------*/

@media screen and (max-width:1000px) {
    /* header {
        height: 10%;
    } */
    h1 {
        font-size: 3.5vh;
    }
    h2 {
        font-size: 2.5vh;
    }
    li {
        font-size: 2vh;
    }
    p {
        font-size: 1.7vh;
    }
    .heady {
        flex-wrap: wrap;
    }
    header nav ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    header nav ul li {
        margin-bottom: 5px;
    }
    .heady * {
        margin-top: 0;
        margin-bottom: 0;
    }
    aside:last-child {
        align-self: end;
    }
    jour {
        flex-wrap: wrap;
    }
    /* modifie l'aside de gauche pour lui permettre de prendre l'intégralité de la balise  */
    #mainContainer aside:last-child {
        width: 100%;
        margin-left: 0;
    }
    .divCreerArticle h3 {
        text-align: center;
    }
}

@media screen and (max-width:480px) {
    #mainContainer {
        justify-content: none;
        flex-direction: column;
    }
    #mainContainer #asideL {
        height: 5%;
        width: 85%;
        margin: auto;
        z-index: 2;
        background-color: white;
    }
    #mainContainer aside:last-child {
        align-self: end;
        margin-left: 10px;
    }
    #mainContainer section {
        text-align: center;
        width: 100%;
    }
    #mainContainer section a {
        margin-left: 20px;
    }
}